/*Geral*/
*{
  margin:0;
  padding:1px;
  box-sizing: border-box;
  font-family:Helvetica, sans-serif;
}
/*barra de navegação -Cabeçalho*/
nav{
  background-color: #1bbf78;
  border-bottom: 3px solid #2d3934;
  height: 50px;
  }
  #logo{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position:absolute;
    top: 15px;
    left: 10px;
  }
  #menu{
    list-style: none;/*remove as bolinhas do menu*/
    float: right;
    margin-top: 17px;
  }
  .item {
    display: inline-block;
    margin-left:10px;
    margin-right: 10px;
  }
  .item a{ /* mudar a cor dos links do menu*/
    color:#fff;
    text-decoration: none;
  }
  .item a:hover{
    color:rgb(61, 51, 51);
    transition:0.5s;
  }
  /* FIM DA PROPRIEDADE DO CABEÇALHO*/
   /* Inicio do Rodape*/
   footer{
    clear: both;
    background-color:#1bbf78 ;
    height: 30px;
    text-align: center;
  }
  /* Fim do Rodape*/
  /* Inicio da Lista de Tarefas*/
  body {
    height: 100vh;
    background: linear-gradient(
      90deg,
      rgba(65, 184, 131, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-weight: bold;
  }
  ul{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
  .header button{
    position: absolute;
    right: 18%;
    margin-top: -30px;
  }
  .header i {
    font-size: 22px;
  }
  .to-do{
    margin-top: 40px;
    width: 60%;
  }
  .textInsert{
    border: none;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 90%;
  }
  .divInsert{
    display: flex;
    padding: 10px;
    background-color: lightgray;
    border-radius: 18px;
    box-shadow: 6px 5px 10px 0px gray;
  }
  button{
    width: 10%;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .bx-plus{
    font-size: 30px;
    margin-left: 10px;
    background-color: rgb(139,14,223);
    border-radius: 50%;
    padding: 5px;
    color: black;
  }
  .divLi{
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    background: lightgray;
    border-radius: 10px;
    box-shadow: 6px 5px 10px 0px gray;
  }
  .divLi span {
    width: 80%;
    color: dimgray;
  }
  .divLi input {
    width: 10%;
    outline: none;
    accent-color: currentcolor;
  }
  .divLi i {
    font-size: 22px;
    color: brown;
  }


 li{
  list-style-type: none;
 }
  .line-through {
text-decoration: line-through;
@media (max-width:775px) {
  input{
  width:70%
  }
  .divInsert button {
    width:30%;
  }
  i {
    font-size:30px;
    padding:0px;
  }
  p{
    font-size:x-large;
  }
}
  }
/* Fim da Lista de Tarefas*/
